.app {
  width: 52%;
  color: #484848;
  line-height: 20.02px;
  box-sizing: border-box;
}

.header {
  height: 73px;
  border-bottom: 1px solid rgb(194, 194, 194) !important;
}

.title {
  color: rgb(72, 72, 72);
  font-size: 24px;
  font-weight: 800;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  line-height: 30px;
  display: block;
  padding-top: 20px;
  float: left;
  margin: 0;
  width: 66.66%
}

.style {
  height: 1em; 
  width: 1em; 
  display: block; 
  fill: currentcolor;
}

.search {
  float: left;
  position: relative;
  width: 33%;
  margin-top: 22px;
  border-bottom-color: rgb(235, 235, 235);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(235, 235, 235);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(235, 235, 235);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(235, 235, 235);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
}

.magGlass {
  padding-top: 10px;
  height: .9em;
  width: 1.7em;
}

.searchBar {
  background-color: transparent !important;
  display: inline !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72) !important;
  font-weight: 600 !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
  padding-bottom: 8px;
  outline: none;
}

.review {
  border-bottom: 1px solid rgb(194, 194, 194) !important;
  margin-top: 20px;
  color: #484848;
  direction: ltr;
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

.reviewName {
  font-weight: 600;
  word-wrap: break-word;
}

.reviewDate {
  font-size: 14px;
}

.ratings {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  display: flex;
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
}

.rightRatings {
  flex: 1 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.leftRatings {
  flex: 1 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.rightRatings > div, .leftRatings > div {
  display: flex;
  justify-content: space-between;
}

.commentHeader {
  display: flex;
}

.commentMeta {
  flex: 1 0 auto;
  margin-left: 16px;
}

.commentMeta p {
  margin: 0;
}

.reviewName {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.reviewDate {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.commentImage {
  flex: 0 0 48px;
  width: 48px;
}

.commentImage img{
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 100%;
  box-sizing: border-box;
}