:glabal(body) {
  overflow-y: auto;
}

.title {
  color: brown;
}

#app-root {
  height: 10em;
  width: 10em;
  background: lightblue;
  overflow: hidden;
}

#modal-root {
  position: relative;
  overflow-y: hidden;
}

.modal {
  background-color: rgba(0, 0, 0, 0.845);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 40ms;
  z-index: 999;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalImage {
  height: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  animation: fadein 40ms;
}

.image2 {
  height: -10%;
  width: 100%;
  animation: fadein 50ms;
}

.image {
  border: 0;
  object-fit: cover;
  width: 100%;
  height: 561.6px;
}

/* body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
} */

.btn2 {
  right: 100%;
}

.btn1 {
  cursor: pointer;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 3;
  font-size: 0.5em;
  width: 40px;
  right: 0px;
  background: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.btnStyle,
.btnStyle:hover {
  height: 4.8em;
  width: 4.8em;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

.exitBar {
  padding: 40px 15px 20px;
  color: blue;
}

.exitBtn,
.exitBtn:hover {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px 28px 8px;
  font-size: 2em;
  width: auto;
  height: auto;
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
  z-index: 5000;
  cursor: pointer;
}
.slide {
  width: 100px;
  height: 67px;
}
/* carousel/////////////////////////////////////////////////////// */
.unorderedList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.listItem {
  padding-left: 10px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.carouselIndicators {
  display: flex;
  position: absolute;
  list-style-type: none;
  left: 28.4%;
  top: 89%;
  animation: fadein 500ms;
  margin: 0px;
  padding: 10px;
  z-index: 9998;
}

.indicatorContainer {
  display: flex;
  position: absolute;
  list-style-type: none;
  left: 0%;
  top: 89%;
  margin: 0px;
  padding: 10px;
  z-index: 9998;
  width: 11110px;
  display: block;
}

.indicatorContainer:hover

/* slider */

.nico {
  width: 3500px;
  height: 10000px;
  position: absolute;
  overflow: hidden;
}
