#searchDiv {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: solid 1px rgb(235, 235, 235);
  box-sizing: border-box;
  cursor: text;
  text-overflow: ellipsis;
  box-shadow: 2px 2px 1px rgb(218, 218, 218);
  transition: box-shadow 0.3s;
}
#searchDiv:hover {
  box-shadow: 3px 3px 1.5px rgb(192, 192, 192);
}
#searchDiv img {
  width: 18px;
  padding: 18px;
}
#search {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-stretch: 100%;
  font-weight: 500;
  color: rgb(72, 72, 72);
  border: 0;
  height: 48px;
  width: 404px;
}
#search:focus {
  outline-width: 0;
}